<div class="form-container">
    <form #bookform="ngForm" (ngSubmit)="submitbookform()">
      <label>Title</label>
      <input name="title" type="text" [(ngModel)]="book.title" placeholder="Title">
  
      <label>Auther</label>
      <input name="auther" type="text" [(ngModel)]="book.auther" placeholder="Auther">
  
      <label>Genre</label>
      <input name="genre" type="text" [(ngModel)]="book.genre" placeholder="Genre">
  
      <label>Description</label>
      <input name="description" [(ngModel)]="book.description" type="text" placeholder="Description">
  
      <button type="submit">Add</button>
    </form>
  </div>
  